<ion-header>
  <ion-toolbar class="toollbar text_whitetheme">
    <ion-buttons class="back-btn" slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title text-center>TERMS & CONDITIONS</ion-title>
</ion-toolbar>
</ion-header>

<ion-content>
  <div class="logo">
      <img src="assets/imgs/logo.png">
      <h2>Cabber 3.2</h2>
  </div>
  <div class="text_box">
      <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
      </p>
      <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
      </p>
  </div>
</ion-content>
