.logo {
    width: 176px;
    margin: auto;
    margin-top: 45px;
}

.logo h2 {
    font-size: .8rem;
    text-align: center;
    margin: 0;
    color: lighten(#808080, 5%);
}

.text_box {
    width: calc(100% - 60px);
    margin: 0 auto;
    margin-top: 36px;
}

.text_box p {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: .5px;
    line-height: 23px;
    color: darken(#808080, 10%);
}