<ion-header >
    <ion-toolbar class="accept-toollbar text_whitetheme">
            <ion-row>
              <ion-col float-left size="4">
                <p>cancel Ride</p>
              </ion-col>
              <ion-col text-center size="4">
                <h3>SAM SMITH</h3>
              </ion-col>
              <ion-col float-right size="4">
                <p float-right (click)="gotomodal();">Info</p>
              </ion-col>
            </ion-row>
    </ion-toolbar>
  </ion-header>
<ion-content style="position:relative;background-color: gray">
<div class="map-heading">
  <ion-row >
    <ion-col no-padding size="10">
        <img float-left src="../../assets/imgs/2.png">
        <div float-right>
            <p>Pick up From</p>
            <b><h6>36 E 65th ST,New York,NY 1065, USA</h6></b>
        </div>
    </ion-col>
    <ion-col class="navigate-box" text-center text-wrap size="2">
      <ion-icon margin-top class="navigate-btn" name="md-navigate"></ion-icon>
      <h5 no-margin>NAVIGATE</h5>
    </ion-col>
  </ion-row>
</div>

<div class="map">
    <img style="width:100%" src="../../assets/imgs/map2.png">
</div>


  <ion-button expand="block"  text-uppercase class="arrived_btn"  routerLink="/location" routerDirection="forward">Accept</ion-button>

</ion-content>
