.accept-toollbar{
    --background:var(--ion-color-success-tint);
    // box-shadow: 0px 14px 25px rgba(84, 182, 30, 0.6) !important;
    // height:70px;
    padding: 6px 2px 2px 2px;
}

.accept-toollbar p{
font-size: .8rem;
margin: 0 4px 0 10px;
}

.accept-toollbar h3{
font-size: 1rem;
margin:4px 0 4px 0;
}

.map-heading{
    position:absolute;
    top:0;width: 100%;
    height: 70px;
    background-color: white;
}

.map-heading img {
    width: 45px;
    height: 45px;
    border-radius: 10px;
    margin: 14px 0 0 14px;
    // margin-left: auto;
    // margin-right:auto;
    // padding:0;
    // margin:auto;
}

.map-heading p {
    font-size:0.7rem;
    color: gray;
    margin: 14px 0 0 0;
    font-weight: 300;
    display: block;
}

.map-heading h5 {
    font-size:0.6rem;
    color: gray;
    font-weight: 300;
}

.map-heading h6 {
    font-size:0.8rem;
    font-weight: 750;
    color:black;
    margin-top:2px;
    margin-bottom: 0;
    display: inline-block;
    // margin-bottom:0;
    // display: block;
    // letter-spacing: 1.2rem;
}

.navigate-box {
    padding-right:10px;
}

.navigate-btn {
    color: var(--ion-color-success-shade);
    font-size: 1.2rem;
}

.map {
    --position: absolute;
    --top: 0;
    --left: 0;
    --bottom: 0;
    --width: 100%;
    --height: 100%;

    img {
        --position: absolute;
        --top: 0;
        --left: 0;
        --bottom: 0;
        --width: 100%;
        --height: 100%;
    }

}

// .arrived-btn {
//     background-color: var(--ion-color-success-shade);
//     color:white;
//     position: absolute;
//     bottom: 30px;
//     text-transform: uppercase;
//     box-shadow: 0px 14px 25px rgba(84, 182, 30, 0.6) !important;
// }

.arrived_btn {
    text-transform: uppercase;
    letter-spacing: .6px;
    width:96%;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    // background-color:#54b61e;
    --background:var(--ion-color-success-tint);
    box-shadow: 0px 14px 25px rgba(166, 214, 141, 0.6) !important;
    position: absolute;
    bottom: 30px;
   
    &:hover:not(.disable-hover) {
    --background:var(--ion-color-success-shade);    }
}
.modal-wrapper.sc-ion-modal-ios{ background-color:#000 !important;}