.map-heading{
    position:absolute;
    top:0;width: 100%;
    min-height: 70px;
    background-color: white;
}

.map-heading img {
    width: 50px;
    height:50px;
    border-radius: 10px;
    margin:5px;
    // margin-left: auto;
    // margin-right:auto;
    // padding:0;
    // margin:auto;
}

.map-heading p {
    font-size:0.7rem;
    color: gray;
    // margin:0;
    font-weight: 300;

}

.map-heading b h6 {
    font-size:0.8rem;
    font-weight: 600;
    color:black;
    margin-top:0px;
    margin-bottom: 0;
    // margin-bottom:0;
    // display: block;
    // letter-spacing: 1.2rem;
}

.navigate-btn {
    color: var(--ion-color-success-shade);
    font-size: 1.2rem;
}
.map_header_left{ display: flex;}