<ion-header>
  <ion-toolbar class="toollbar text_whitetheme">
    <ion-title>
      <ion-row>
        <ion-col size=6>
          <span float-right>Sam Smith</span>
        </ion-col> 
        <ion-col size=6> 
          <small float-right text-capitalize>info</small>
        </ion-col>
    </ion-row>
  </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="position:relative;background-color: gray">
  <div class="map-heading">
    <ion-row>
      <ion-col size="9" class="map_header_left">
          <img float-left src="../../assets/imgs/2.png">
          <div float-left>
              <p >Drive to</p>
              <b><h6 style="margin-top:-5px;">36 E 65th ST,New York,NY 1065, USA</h6></b>
          </div>
      </ion-col>
      <ion-col text-center size="3">
        <ion-icon margin-top class="navigate-btn" name="md-navigate"></ion-icon>
        <p no-margin style="font-size:12px;">NAVIGATE</p>
      </ion-col>
    </ion-row>
  </div>
  
  <div class="map">
      <img style="width:100%" src="../../assets/imgs/map2.png">
  </div>
  </ion-content>
  <ion-footer no-border class="footer-bg">
    <ion-button expand="block"  text-uppercase class="buttongreen" (click)="gotomodal();">double tap to end trip </ion-button>
  </ion-footer>
