.recipt {
    background: #fff;
}
.recipt::after {
    content: '';
    width: 100%;
    height: 27px;
    display: block;
    position: absolute;
    background: url(../../assets/imgs/receipt-bodder.png);
    background-repeat: repeat-x;
    background-size: 12px;
}
.recipt h6{ 
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: 0;
    padding-top: 40px;
    padding-bottom: 17px;
    position: relative;
}
.recipt h6:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 90px;
    height: 6px;
    background: #54b61e;
    border-radius: 50px;
    margin: 0 auto;
}
.recipt h1 {
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 2px;
    padding-bottom: 4px;
    margin: 0;
    padding-top: 43px;
}
.recipt p {
    margin-top: 0;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 16px;
    color: gray;
}
.recipt ion-list {
    border: none !important;
    margin: 5rem auto 0rem;
    padding-bottom: 2rem;
    padding-top: 0;
}

ion-footer{
    background: #f5f4f4;
    left: 0;
    bottom: 0;
    z-index: 10;
    display: block;
    width: 100%;
    padding-bottom: 20px;
}
ion-footer .rateing_btn {
    width: calc(100% - 80px);
    margin: 0 auto;
}
ion-footer .rateing_btn .rateing {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 20px;
}
ion-footer .rateing_btn .rateing ion-icon {
    color: #cdcdcd;
    font-size:50px;
    display: block;
    margin: 0 auto;
}
ion-footer .rateing_btn .btn{
    font-weight: 500;
    text-transform: uppercase;
    height: 42px;
    text-transform: uppercase;
    letter-spacing: .6px;
    border-radius: 7px;
    background: #ff1e1e;
    font-size: 14px;
    width: 100%;
    color: #fff;
}
.recipt_user{
    display: flex;
    align-items: center;
    justify-content: center;
}
.recipt_user ion-avatar{ margin-right: 14px; width: 47px; height: 47px;}
.recipt_user ion-avatar img{ border-radius: 5px;}
.recipt_user p{ margin: 0 0 2px; text-align: left;}
.recipt_user h2 {
    font-weight: 700;
    text-transform: uppercase;
    margin: 2px 0;
    font-size: 18px;
}