<ion-header>
  <ion-toolbar class="toollbar text_whitetheme">
    <ion-title text-center>
      Receipt
  </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-light">
  <div class="bg-white recipt" text-center>
      <h6>Fare Summary</h6>
      <h1 class="text-black">$23.00</h1>
      <p>22 Oct, 2017, 12:30</p>
      <ion-list>
          <div class="recipt_user">
              <ion-avatar item-start>
                  <img src="assets/imgs/2.png">
              </ion-avatar>
              <div class="item_inner">
                <p class="text-black">Rate Now</p>
                <h2 class="text-black">Sam Smith</h2>
              </div>
            </div>
      </ion-list>
  </div>
</ion-content>
<ion-footer no-border>
  <div class="rateing_btn">
      <div class="rateing">
          <ion-icon name="star" class=""></ion-icon>
          <ion-icon name="star" class=""></ion-icon>
          <ion-icon name="star" class=""></ion-icon>
          <ion-icon name="star" class=""></ion-icon>
          <ion-icon name="star" class=""></ion-icon>
      </div>
      <button ion-button block class="btn shadow-red" (click)="closeModal();">submit rating</button>
  </div>
</ion-footer>
