<ion-header>
  <ion-toolbar class="toollbar text_whitetheme">
      <ion-buttons class="back-btn" slot="start">
          <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title text-center>DOCUMENTS</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<div class="bg-color-content">
  <div  class="help_lists">
      <div class="in-list">                      
          <h3 style="font-size: 16px;margin-top:0px;"><b>Driver's Liscence</b>
              <ion-icon name="md-checkmark-circle" style="color:#54b61e;float: right;height: 30px;width: 30px;"></ion-icon>
          </h3>          
         <p style="font-size: 12px;color:darkgray;margin-top:-5px;margin-bottom:0px">Verified
          </p>
      </div>

      <div class="in-list">                      
          <h3 style="font-size: 16px;margin-top:0px;"><b>Government Id</b>
          </h3>          
         <p style="font-size: 12px;color:darkgray;margin-top:-5px;margin-bottom:0px">Not yet verified
          </p>
      </div>
    </div>
</div>  
</ion-content>
