.help_lists{padding-top: 10px;padding-bottom: 10px; background: #e0dfdf; width: 100%;}
.help_lists .in-list{border-radius: 4px; background: #fff; padding: 25px;  margin: 5px 0;}
.bg-color-content{ background: #e0dfdf; height: 100%;margin-top: 10px;}