img {
    display: block;

    &.logo {
        margin: 0 auto !important;
        width: 99px;
        margin-bottom: 20px;
        margin-top: 29px;
    }
}

.option-login {
    position: relative;
    font-size: 1.2rem;
    font-weight: 500;
    width: calc(100% - 45px);
    margin: 30px auto;
    margin-bottom: 6px;

    &::after,
    &::before {
        display: block;
        width: 18%;
        height: 1px;
        background: lightgray;
        position: absolute;
        content: "";
        top: 0;
        bottom: 0;
        left: 0;
        margin: auto;

    }

    &::after {
        right: 0;
        left: unset;
    }
}

.row {
    .col {
        small {
            font-size: 1.2rem;
            font-weight: 500;
        }

        strong {
            margin: 0 4px;
        }
    }
}
