<ion-header style="margin-bottom: 100px;">
  <ion-toolbar class="toollbar text_whitetheme">
          <ion-title text-center>Log in</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding-left padding-right padding-top text-center>
<div>
  <img src="assets/imgs/logo.png" class="logo">
  <div padding>
    <form  #login="ngForm" id="loginform" (ngSubmit)="validatedriver(login)" >
      <ion-list class="form" no-lines>
          <ion-item class="bg-light">
              <ion-label>Phone Number</ion-label>
              <ion-input type="text" name="phone" value="6297954355" [(ngModel)]="Phone" maxlength="10" minlength="10" pattern="^$|^[0-9]+$" text-end></ion-input>
          </ion-item>
      </ion-list>
    <ion-button expand="block" type="submit" text-uppercase class="buttongreen" >login</ion-button>
    </form>
  </div>

  <ion-row style="margin: auto">
    <ion-col routerLink="/signup" routerDirection="forward"><small style="font-size:20px;">New user <strong class="text-theme">Sign up</strong></small></ion-col>
  </ion-row>
</div>  
</ion-content>
