<ion-header>
  <ion-toolbar class="toollbar text_whitetheme">
    <ion-title>
      <ion-row>
        <ion-col size=6>
          <span float-right>Sam Smith</span>
        </ion-col> 
        <ion-col size=6> 
          <small float-right text-capitalize>info</small>
        </ion-col>
    </ion-row>
  </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="form_location" no-lines>
        <div class="inner_item form">
            <div class="inner_sec"><span class="">from</span> Newark Ave, Journla Square, Nj</div>
          </div>
        <div class="inner_item to">
            <div class="inner_sec"><span class="">to</span>Sip Ave, Journla Square, Nj</div>
          </div>
    </div>
  <div class="map">
    <img style="width:100%; height:100%;" src="../../assets/imgs/map2.png">
</div>
  
</ion-content>
<ion-footer no-border class="footer-bg">
  <ion-button expand="block"  text-uppercase class="buttongreen" routerLink="/trip-end" routerDirection="forward">double tap to begin trip</ion-button>
</ion-footer>
