.form_location{
    position: relative;
    overflow: hidden;
    width: calc(100% - 50px);
    margin: 0 auto;
    margin-top: 7px;
    z-index: 2;
    border-radius: 7px;
    background: #fff;
}
.map{   
    z-index:1;
    background: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
}
.form_location .inner_item{
     padding: 15px 0px 10px 5px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    position: relative;
    border-bottom: 1px solid #cdcdcd;
    min-height: unset;
    padding-left: 40px;
}
.form_location .inner_item:last-child{ border-bottom: 0;}
.form_location .inner_item .inner_sec{ font-size: 14px;display: flex;}
.form_location .inner_item .inner_sec span{
     width: 35px;
    margin-right: 10px;
    color: #b3b3b3;
    display: inline-block;
}
.form_location .inner_item:before{ content: ""; width: 10px; height: 10px; border-radius: 50%; position: absolute; left: 15px; top: 20px; z-index: 2;}
.form_location .inner_item.form:before{ background: #000;}
.form_location .inner_item.to:before{ background: #ffca28;}
.form_location .inner_item:after{ content: ""; width:2px; position: absolute; left: 19px; z-index: 1;  background: #cfcfcf;}
.form_location .inner_item.form:after{top: 20px; height: calc(100% - 20px);}
.form_location .inner_item.to:after{top: 0px; height: 22px;}