.header .toolbar .title .toolbar-title ion-icon {
    font-size: 2.7rem;
    color: darkgray;
}

.close-icon {
    font-size: 2.2rem;
    margin:10px;
}

.arrived_btn {
    text-transform: uppercase;
    letter-spacing: .6px;
    width:96%;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    // background-color:#54b61e;
    --background:var(--ion-color-success-tint);
    box-shadow: 0px 14px 25px rgba(166, 214, 141, 0.6) !important;
    position: absolute;
    bottom: 30px;
   
    &:hover:not(.disable-hover) {
    --background:var(--ion-color-success-shade);    }
}

.modal_container {
    margin: auto;
    position: absolute;
    // top: 0;
    // left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 525px;

    .rider_img {
        margin: auto;
        position: relative;
        overflow: hidden;
        width: 105px;
        height: 105px;
        border-radius: 7px;

        img {
            position: absolute;
            top: 0;
            bottom: 0;
            left: -50% !important;
            right: -50% !important;
            margin: 0 auto;
            width: 100%;
            height: 100%;
            border-radius: 0;

        }
    }

    .rider_details {
        h2 {
            font-size: 1.8rem;
            font-weight: 600;
            text-transform: uppercase;
            margin-top: 23px;
            color: var(--ion-color-dark-shade);
        }

        h3 {
            color: var(--ion-color-success-tint);
        }

    }

    p {
        font-size: 1.5rem;
        width: 135px;
        margin: 0 auto;
        overflow: hidden;
        margin-top: 17px;

        span {
            font-size: 1.3rem;
            font-weight: 500;
            margin: 0 10px;
            color: lightgray;
        }

        ion-icon {
            margin: 4px 4px 0 0;
            color: lightgray;
            font-size: 1.2rem;

            &.active {
                color: var(--ion-color-success-tint);
            }
        }
    }

    
.d-flex {
    display: flex !important;
    align-items: center;
    width: 100%;
    justify-content:center;

    .end {
        margin-left: auto;
        margin-right: 0;
        display: block;
    }
}


}

.scroll-content {
    margin: 0 !important;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.82);
        //opacity: .9;
        z-index: -1;

    }
}

ion-content {
    background: none !important;
}

.footer {
    .button.btn {
        width: calc(100% - 50px);
        margin: 0 auto;
        margin-bottom: 22px;
    }
}


.rider-info-bd {
    background: none !important;
}
.modal-wrapper.sc-ion-modal-ios{ background-color:#000 !important;}