
<div style="background-color:transparent;" class="rider-info-bd" >

      <ion-icon float-right name="close" class="close-icon" (click)="closeModal();"></ion-icon>

  <!-- <img src="../../assets/imgs/2.png">
  <h1>sam smith</h1>
  <h4>+19 987654321</h4>
  <p>4.8</p><ion-icon name="star"></ion-icon>
  <ion-button expand="block"  text-uppercase class="arrived_btn"  routerLink="/accept-modal" routerDirection="forward">Accept</ion-button> -->



  <div class="modal_container" text-center>
    <div class="rider_img">
        <img src="assets/imgs/2.png">
    </div>
    <div class="rider_details">
        <h2>Sam Smith</h2>
        <h3>+19 987 654 362</h3>
    </div>
    <p class="d-flex"><span>4.8</span>
        <ion-icon name="md-star" class="active"></ion-icon>
        <ion-icon name="md-star" class="active"></ion-icon>
        <ion-icon name="md-star" class="active"></ion-icon>
        <ion-icon name="md-star" class="active"></ion-icon>
        <ion-icon name="md-star" class=""></ion-icon>
    </p>

    <ion-button expand="block"  text-uppercase class="arrived_btn"  routerLink="/accept-modal" routerDirection="forward">Accept</ion-button>
  </div>
  <!-- <ion-button expand="block"  text-uppercase class="arrived_btn"  routerLink="/accept-modal" routerDirection="forward">Accept</ion-button> -->

</div>
