<ion-app style="z-index: 100;">
    <ion-split-pane>
    <ion-menu contentId="content1" side="start">
        <!-- <ion-header>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
        </ion-header> -->
      <ion-content>
        <ion-list class="profile_info">
          <div class="profile_bg">
            <img src="assets/imgs/profile_pix.png">
          </div>
              
          <div class="profle_inner">
            <ion-avatar slot="start">
              <img src="assets/imgs/fare.png">
              </ion-avatar>
              <ion-col style="display:block">
                <h6 class="text-white">Sam Smith</h6>
                <p class="text-white">View Profile</p>
              </ion-col>
            </div>
        </ion-list>

        <ion-list lines="none">
            <ion-menu-toggle auto-hide="false">
          <ion-item menuClose routerLink="/home" routerDirection="forward">
            <h6>
              <ion-icon slot="stayrt" name="md-navigate" class="text-green"></ion-icon>
            home</h6>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="false">
          <ion-item menuClose routerLink="/mytrip" routerDirection="forward">
            <h6>
              <ion-icon slot="start" name="md-car" class="text-green"></ion-icon>
            My Trips</h6>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="false">
          <ion-item menuClose routerLink="/wallet" routerDirection="forward">
            <h6>
              <ion-icon slot="start" name="md-card" class="text-green"></ion-icon>
              Wallet</h6>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="false">
          <ion-item menuClose routerLink="/help" routerDirection="forward" >
            <h6>
              <ion-icon slot="start" name="md-help" class="text-green"></ion-icon>
            Help</h6>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="false">
          <ion-item menuClose routerLink="/document" routerDirection="forward">
            <h6>
              <ion-icon slot="start" name="md-list-box" class="text-green"></ion-icon>
              Documents</h6>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="false">
          <ion-item menuClose routerLink="/terms-condition" routerDirection="forward">
            <h6>
              <ion-icon slot="start" name="md-clipboard" class="text-green"></ion-icon>
              t&c</h6>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="false">
          <ion-item menuClose routerLink="/login" routerDirection="forward">
            <h6>
              <ion-icon slot="start" name="md-power" class="text-green"></ion-icon>
            Logout</h6>
          </ion-item>
        </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="content1" main></ion-router-outlet>
  </ion-split-pane>
  </ion-app>
