.driver_list{ width: 100%;}
.driver_list .driver_details{ display: flex; padding-bottom: 10px; border-bottom: 1px solid #ddd;}
.driver_list .driver_details .driver_img{ margin-right: 10px; max-width: 40px;}
.driver_list .driver_details .driver_img img{border-radius: 6px;}
.driver_list .driver_details .text_box{ width: 100%; display: flex;}
.driver_list .driver_details .text_box p{ width: 50%; margin: 0; font-size: 11px; color: #000; font-weight: 600;}
.driver_list .driver_details .text_box p span{ display: block; color: #999; margin-top: 8px;}
.driver_list .driver_details .text_box p:last-child{ text-align: right;}
.driver_list .from_to{ padding: 5px 0px;}
.driver_list .from_to .box{ margin: 10px 0; position: relative; padding-left: 18px;}
.driver_list .from_to .box p{ margin: 0; font-size: 11px; color: #666;}
.driver_list .from_to .box:before{ content: ""; z-index: 2; width: 8px; height: 8px; border-radius: 50%; position: absolute; left: 0; top:2px;}
.driver_list .from_to .box.from:before{ background: #ffca28;}
.driver_list .from_to .box.to:before{ background: #54b61e;}
.driver_list .from_to .box.to:after{ content: ""; width: 2px; height: 20px; background: #ccc;position: absolute; left: 3px; top: -15px; z-index: 1;}
.trip_lists{padding: 5px; background: #e0dfdf;}
.trip_lists .in-list{border-radius: 4px; background: #fff; padding-top: 0px;  margin: 5px 0;}
ion-segment-button.segment-button-checked {
    --indicator-color-checked: #ffffff!important;
}
.text-white{
    color: #fff;
}