<ion-header>
  <ion-toolbar class="toollbar text_whitetheme">
    <ion-buttons class="back-btn" slot="start" >
        <ion-back-button defaultHref="/" ></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align:center; margin-top:5px;">My Trips</ion-title>
    <div>
        <ion-segment [(ngModel)]="tab" value="past">
            <ion-segment-button value="past" style="width:45%;">
              <ion-label class="text-white">  past  </ion-label> 
            </ion-segment-button>
            <ion-segment-button value="upcoming" style="width:45%;">
              <ion-label class="text-white">upcoming</ion-label>
            </ion-segment-button>
        </ion-segment>
    </div> 
  </ion-toolbar> 
</ion-header>

<ion-content>
  <div [ngSwitch]="tab">
        <ion-list lines="none"class="trip_lists" lines="none" *ngSwitchCase="'past'">
            <ion-item padding-top>
              <div class="driver_list">
                <div class="driver_details">
                    <div class="driver_img">
                        <img src="assets/imgs/2.png">
                    </div>
                    <div class="text_box">
                        <p>
                            Today 8:21 am
                            <span class="end">$85.00</span>
                        </p>
                        <p class="">
                            Suzuki Swift Dezire
                            <span class="end">Paid Via Wallet</span>
                        </p>
                    </div>
                </div>
                <div class="from_to">
                    <div class="box from">
                        <p> Newark Ave, Journla Square, Nj</p>
                    </div>
                    <div class="box to">
                        <p> Sip Ave, Journla Square, Nj</p>
                    </div>
                </div>
              </div>
            </ion-item>

            <ion-item padding-top>
                <div class="driver_list">
                  <div class="driver_details">
                      <div class="driver_img">
                          <img src="assets/imgs/2.png">
                      </div>
                      <div class="text_box">
                          <p>
                              Today 8:21 am
                              <span class="end">$85.00</span>
                          </p>
                          <p class="">
                              Suzuki Swift Dezire
                              <span class="end">Paid Via Wallet</span>
                          </p>
                      </div>
                  </div>
                  <div class="from_to">
                      <div class="box from">
                          <p> Newark Ave, Journla Square, Nj</p>
                      </div>
                      <div class="box to">
                          <p> Sip Ave, Journla Square, Nj</p>
                      </div>
                  </div>
                </div>
              </ion-item>
              <ion-item padding-top>
                  <div class="driver_list">
                    <div class="driver_details">
                        <div class="driver_img">
                            <img src="assets/imgs/2.png">
                        </div>
                        <div class="text_box">
                            <p>
                                Today 8:21 am
                                <span class="end">$85.00</span>
                            </p>
                            <p class="">
                                Suzuki Swift Dezire
                                <span class="end">Paid Via Wallet</span>
                            </p>
                        </div>
                    </div>
                    <div class="from_to">
                        <div class="box from">
                            <p> Newark Ave, Journla Square, Nj</p>
                        </div>
                        <div class="box to">
                            <p> Sip Ave, Journla Square, Nj</p>
                        </div>
                    </div>
                  </div>
                </ion-item>
                <ion-item padding-top>
                    <div class="driver_list">
                      <div class="driver_details">
                          <div class="driver_img">
                              <img src="assets/imgs/2.png">
                          </div>
                          <div class="text_box">
                              <p>
                                  Today 8:21 am
                                  <span class="end">$85.00</span>
                              </p>
                              <p class="">
                                  Suzuki Swift Dezire
                                  <span class="end">Paid Via Wallet</span>
                              </p>
                          </div>
                      </div>
                      <div class="from_to">
                          <div class="box from">
                              <p> Newark Ave, Journla Square, Nj</p>
                          </div>
                          <div class="box to">
                              <p> Sip Ave, Journla Square, Nj</p>
                          </div>
                      </div>
                    </div>
                  </ion-item>
                  <ion-item padding-top>
                      <div class="driver_list">
                        <div class="driver_details">
                            <div class="driver_img">
                                <img src="assets/imgs/2.png">
                            </div>
                            <div class="text_box">
                                <p>
                                    Today 8:21 am
                                    <span class="end">$85.00</span>
                                </p>
                                <p class="">
                                    Suzuki Swift Dezire
                                    <span class="end">Paid Via Wallet</span>
                                </p>
                            </div>
                        </div>
                        <div class="from_to">
                            <div class="box from">
                                <p> Newark Ave, Journla Square, Nj</p>
                            </div>
                            <div class="box to">
                                <p> Sip Ave, Journla Square, Nj</p>
                            </div>
                        </div>
                      </div>
                    </ion-item>
                    <ion-item padding-top>
                        <div class="driver_list">
                          <div class="driver_details">
                              <div class="driver_img">
                                  <img src="assets/imgs/2.png">
                              </div>
                              <div class="text_box">
                                  <p>
                                      Today 8:21 am
                                      <span class="end">$85.00</span>
                                  </p>
                                  <p class="">
                                      Suzuki Swift Dezire
                                      <span class="end">Paid Via Wallet</span>
                                  </p>
                              </div>
                          </div>
                          <div class="from_to">
                              <div class="box from">
                                  <p> Newark Ave, Journla Square, Nj</p>
                              </div>
                              <div class="box to">
                                  <p> Sip Ave, Journla Square, Nj</p>
                              </div>
                          </div>
                        </div>
                      </ion-item>
                      <ion-item padding-top>
                          <div class="driver_list">
                            <div class="driver_details">
                                <div class="driver_img">
                                    <img src="assets/imgs/2.png">
                                </div>
                                <div class="text_box">
                                    <p>
                                        Today 8:21 am
                                        <span class="end">$85.00</span>
                                    </p>
                                    <p class="">
                                        Suzuki Swift Dezire
                                        <span class="end">Paid Via Wallet</span>
                                    </p>
                                </div>
                            </div>
                            <div class="from_to">
                                <div class="box from">
                                    <p> Newark Ave, Journla Square, Nj</p>
                                </div>
                                <div class="box to">
                                    <p> Sip Ave, Journla Square, Nj</p>
                                </div>
                            </div>
                          </div>
                        </ion-item>
        </ion-list>
        <ion-list class="trip_lists" lines="none" *ngSwitchCase="'upcoming'">
            <ion-item padding-top>
              <div class="driver_list">
                <div class="driver_details">
                    <div class="driver_img">
                        <img src="assets/imgs/2.png">
                    </div>
                    <div class="text_box">
                        <p>
                            Today 8:21 am
                            <span class="end">$85.00</span>
                        </p>
                        <p class="">
                            Suzuki Swift Dezire
                            <span class="end">Paid Via Wallet</span>
                        </p>
                    </div>
                </div>
                <div class="from_to">
                    <div class="box from">
                        <p> Newark Ave, Journla Square, Nj</p>
                    </div>
                    <div class="box to">
                        <p> Sip Ave, Journla Square, Nj</p>
                    </div>
                </div>
              </div>
            </ion-item>
      </ion-list>      
    </div>
</ion-content>
