<ion-header>
  <ion-toolbar class="toollbar text_whitetheme">
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>PROFILE
      <span float-right>LOGOUT</span>
    </ion-title>
</ion-toolbar>
</ion-header>

<ion-content>
  <div class="banner">
      <div class="banner_img">
          <img src="assets/imgs/profile.png" style="width:100%;height: 100%;">
      </div>
      <!--        <ion-icon name="md-create"></ion-icon>-->
  </div>
  <ion-list class="form" lines="none">
      <div class="list_item">
          <ion-label floating>First Name</ion-label>
          <ion-input type="text" value="Sam" class="value"></ion-input>
      </div>
      <div class="list_item">
        <ion-label floating>Last Name</ion-label>
        <ion-input type="text" value="Smith" class="value"></ion-input>
     </div>
     <div class="list_item">
      <ion-label floating>Contact Number</ion-label>
      <ion-input type="text" value="9932456789" class="value"></ion-input>
    </div>
    <div class="list_item">
      <ion-label floating>Email Address</ion-label>
      <ion-input type="text" value="appuser@email.com" class="value"></ion-input>
    </div>
  </ion-list>
</ion-content>
