.banner {
    position: relative;
    width: 100%;
    height: 264px;
    overflow: hidden;
}
.banner.banner_img {
    position: relative;
    width: 100%;
    height: 235px;
    overflow: hidden;
}    
.banner.banner_img img {
    position: absolute;
    top: 0;
    left: -50% !important;
    right: -50% !important;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    border-radius: 0;
    max-width: unset;
}        
.form {
    width: calc(100% - 30px);
    margin: 0 auto;      
}
.form ion-item {
    border: none !important;
    padding: 1px 18px 28px 18px;
}  
.form ion-item ion-label {
    font-size: 1rem;
    color: lighten(#808080, 10%);
    display: block;
    width:100%;
}

.form ion-item ion-label ion-input{
    font-size: 1.2rem;
    font-weight: 800;
    display: block;
    width:100%;
}
.list_item ion-label{ width: 100%; display: block; font-size: 15px; color: #9a9a9a; padding-left: 8px;}
.list_item .value{font-size: 20px; font-weight: 600;}
            
    
    
