<ion-header>
  <ion-toolbar class="toollbar text_whitetheme">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding-left padding-right>
<div style="margin-top:40px">
<img src="assets/imgs/logo.png" class="logo">
<!-- <form  #login="ngForm" id="loginform" (ngSubmit)="validateuser(login)" > -->
  <ion-list style="margin-left: 20px;margin-right: 20px;">
    <form  #signup="ngForm" id="signupform" (ngSubmit)="signupDriver(signup)">
      <ion-item class="bg-light">
          <ion-label>User Name</ion-label>
          <ion-input class="password" name="name" type="text" placeholder="Rahul Roy"  required [(ngModel)]="name" text-right pattern="[a-zA-Z ]*"></ion-input>
      </ion-item>
      <ion-item class="bg-light">
          <ion-label>Phone Number</ion-label>
          <ion-input type="text" name="phone" placeholder="+91 9876543210" text-right required [(ngModel)]="phone" maxlength="10" minlength="10" pattern="^$|^[0-9]+$"></ion-input>
      </ion-item>
      <ion-item class="bg-light">
        <ion-label>Dl no</ion-label>
        <ion-input type="text" name="dl_no" placeholder="dl9876543210s" text-right required [(ngModel)]="dl_no" ></ion-input>
    </ion-item>
    <ion-item class="bg-light">
      <ion-label>Dl Expiry</ion-label>
      
      <ion-datetime name="date" name="dl_exp" placeholder="12/2022" text-right required [(ngModel)]="dl_exp"></ion-datetime>
    </ion-item>
    <ion-item class="bg-light">
      <ion-label>D.O.B</ion-label>
      <ion-datetime name="date"display-format="MMM DD, YYYY" required [(ngModel)]="dob"></ion-datetime>
    </ion-item>
    <ion-item class="bg-light">
      <ion-label>Email</ion-label>
      <ion-input name="email" type="text" placeholder="th@gmail.com" text-right required [(ngModel)]="email" pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})"></ion-input>
    </ion-item>
    <ion-item class="bg-light">
      <ion-label>Permanent Address</ion-label>
      <ion-input type="text" name="permanent _adress" placeholder="midnapur" text-right required [(ngModel)]="permanent_address" ></ion-input>
    </ion-item>
    <ion-item class="bg-light">
      <ion-label>Present Address</ion-label>
      <ion-input name="Present_address" type="text" placeholder="midnapur,saratpalli" text-right required [(ngModel)]="present_address" ></ion-input>
    </ion-item>
    <ion-button class="buttongreen" type="submit" expand="block" [disabled]="signup.invalid" >sign up now</ion-button>

    </form>
  </ion-list>
 
  <!-- <ion-button class="buttongreen" expand="block" [disabled]="!driver.name || !driver.phone || !driver.dl_no || !driver.dl_exp || !driver.dob || !driver.email || !driver.present_address || !driver.permanent_address" (click)="saveDriver()">sign up now</ion-button> -->


<ion-row padding-left padding-right padding-top text-center >
  <ion-col routerLink="/login" routerDirection="forward" Style="font-size:20px">Already registered? <strong class="text-theme">Sign in</strong></ion-col>
</ion-row>
</div>
</ion-content>
