<ion-header>
  <ion-toolbar style="position:relative;" class="toollbar text_whitetheme">
    <ion-buttons class="back-btn" slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <h5 style="position:absolute;top:4px;left:80px;font-weight:600;font-size: 0.9rem">WALLET</h5>
    <div class="banner" text-center>
      <h4 margin>Available Balance</h4>
      <h1><b>$150.00</b></h1>
      <ion-row>
          <ion-col col-12>
              <ion-button class="send_bank" >send to bank</ion-button>
          </ion-col>
      </ion-row>
  </div>
</ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div class="mainwallet">
    <div class="itemlist">
        <div class="driver_details d-flex">
            <div class="driver_img">
                <img src="assets/imgs/2.png">
            </div>
            <div class="text_box">
                <h2 class="d-flex">
                    Paid for ride
                    <small>23rd Jan, 2019, 11:21 am </small>
                    <span text-end>-$85.00</span>
                </h2>
                <h3>
                    Newark Ave, Journla
                    <span>To</span>
                    Sip Ave, Journla
                </h3>
            </div>
        </div>
      </div>
    </div>   -->

    <ion-list padding-top class="trip_lists" lines="none">
            <ion-item padding-top class="list-item">
              <div class="driver_list">
                <div class="driver_details">
                    <div class="driver_img">
                        <img src="assets/imgs/2.png">
                    </div>
                    <div class="text_box">
                        <div>
                            <h5 text-nowrap>
                                Paid for ride <span>23rd Jan, 2019, 22:23 am</span>
                            </h5>

                            <h6 text-nowrap>
                                NewYork Ave, Journa <span>To</span> Ship Ave, Journa
                            </h6>
                        </div>
                    </div>
                    <div class="ammount">
                            -$85.00
                    </div>
                </div>  
              </div>
            </ion-item>

            <ion-item padding-top class="list-item">
                    <div class="driver_list">
                      <div class="driver_details">
                          <div class="driver_img">
                              <img src="assets/imgs/2.png">
                          </div>
                          <div class="text_box">
                              <div>
                                  <h5 text-nowrap>
                                      Paid for ride <span>23rd Jan, 2019, 22:23 am</span>
                                  </h5>
      
                                  <h6 text-nowrap>
                                      NewYork Ave, Journa <span>To</span> Ship Ave, Journa
                                  </h6>
                              </div>
                          </div>
                          <div class="ammount">
                                  -$85.00
                          </div>
                      </div>  
                    </div>
            </ion-item>

            <ion-item padding-top class="list-item">
                    <div class="driver_list">
                      <div class="driver_details">
                          <div class="driver_img">
                              <img src="assets/imgs/2.png">
                          </div>
                          <div class="text_box">
                              <div>
                                  <h5 text-nowrap>
                                      Paid for ride <span>23rd Jan, 2019, 22:23 am</span>
                                  </h5>
      
                                  <h6 text-nowrap>
                                      NewYork Ave, Journa <span>To</span> Ship Ave, Journa
                                  </h6>
                              </div>
                          </div>
                          <div class="ammount">
                                  -$85.00
                          </div>
                      </div>  
                    </div>
            </ion-item>
      
            <ion-item padding-top class="list-item">
                    <div class="driver_list">
                      <div class="driver_details">
                          <div class="driver_img">
                              <img src="assets/imgs/2.png">
                          </div>
                          <div class="text_box">
                              <div>
                                  <h5 text-nowrap>
                                      Paid for ride <span>23rd Jan, 2019, 22:23 am</span>
                                  </h5>
      
                                  <h6 text-nowrap>
                                      NewYork Ave, Journa <span>To</span> Ship Ave, Journa
                                  </h6>
                              </div>
                          </div>
                          <div class="ammount">
                                  -$85.00
                          </div>
                      </div>  
                    </div>
                  </ion-item>
      
                  <ion-item padding-top class="list-item">
                          <div class="driver_list">
                            <div class="driver_details">
                                <div class="driver_img">
                                    <img src="assets/imgs/2.png">
                                </div>
                                <div class="text_box">
                                    <div>
                                        <h5 text-nowrap>
                                            Paid for ride <span>23rd Jan, 2019, 22:23 am</span>
                                        </h5>
            
                                        <h6 text-nowrap>
                                            NewYork Ave, Journa <span>To</span> Ship Ave, Journa
                                        </h6>
                                    </div>
                                </div>
                                <div class="ammount">
                                        -$85.00
                                </div>
                            </div>  
                          </div>
                  </ion-item>
      
                  <ion-item padding-top class="list-item">
                          <div class="driver_list">
                            <div class="driver_details">
                                <div class="driver_img">
                                    <img src="assets/imgs/2.png">
                                </div>
                                <div class="text_box">
                                    <div>
                                        <h5 text-nowrap>
                                            Paid for ride <span>23rd Jan, 2019, 22:23 am</span>
                                        </h5>
            
                                        <h6 text-nowrap>
                                            NewYork Ave, Journa <span>To</span> Ship Ave, Journa
                                        </h6>
                                    </div>
                                </div>
                                <div class="ammount">
                                        -$85.00
                                </div>
                            </div>  
                          </div>
                  </ion-item>
      
        </ion-list>

</ion-content>
