.banner {
    color: #FFF;
    padding-top: 15px;
} 

.banner h4{
    font-size: 0.8rem
}

.banner h1{
    font-size: 1.8rem;
}

.send_bank{
    border:1px solid white;
    border-radius: 5px;
    --background: #54b61e;
    padding: 2px;
} 
.mainwallet{
    width: calc(100% - 10px);
    padding-top: 15px;
    margin: 0 auto;
    --background:#808080;
} 
.mainwallet.itemlist{
    padding: 5px;
    --background:#fff;
    // margin-bottom: 6px;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 0 1px 21px 0px rgba(0, 0, 0, 0.1);           
}
.driver_img{
    width:50px;
    height:50px;
    border-radius:2px; 
} 

.driver_list{ width: 100%;}
.driver_list .driver_details{ display: flex; padding-bottom: 10px; border-bottom: 1px solid #ddd;}
.driver_list .driver_details .driver_img{ margin-right: 10px; max-width: 40px;}
.driver_list .driver_details .driver_img img{border-radius: 6px;}
.driver_list .driver_details .text_box{ width: 100%; display: flex;}
// .driver_list .driver_details .text_box div{ width: 50%; margin: 0; font-size: 11px; color: #000; font-weight: 600;}
.driver_list .driver_details .text_box div h5{ width: 50%; margin: 0; font-size: 0.8rem; color: #000; font-weight: 600;}
.driver_list .driver_details .text_box div h5 span{ width: 50%; margin: 0 0 0 2px; font-size: 0.5rem; color: #999; font-weight: 600;}
.driver_list .driver_details .text_box div h6{ display: block; color: #999 !important ; margin-top: 8px; width: 50%; font-size: 0.7rem; font-weight: 600;}
.driver_list .driver_details .text_box div h6 span{ color: #000; margin-top: 8px;font-size: 0.8rem}
// .driver_list .driver_details .text_box:last-child{ text-align: right;margin-right:5px;}
.driver_list .driver_details .ammount{ font-size: .75rem;font-weight: 600;}
.driver_list .from_to{ padding: 5px 0px;}
.driver_list .from_to .box{ margin: 10px 0; position: relative; padding-left: 18px;}
.driver_list .from_to .box p{ margin: 0; font-size: 11px; color: #666;}
.driver_list .from_to .box:before{ content: ""; z-index: 2; width: 8px; height: 8px; border-radius: 50%; position: absolute; left: 0; top:2px;}
.driver_list .from_to .box.from:before{ background: #ffca28;}
.driver_list .from_to .box.to:before{ background: #54b61e;}
.driver_list .from_to .box.to:after{ content: ""; width: 2px; height: 20px; background: #ccc;position: absolute; left: 3px; top: -15px; z-index: 1;}
.trip_lists{padding: 5px; background: #e0dfdf;}
.trip_lists .in-list{border-radius: 10px 10px 10px 10px; background: #fff; padding-top: 25px;  margin: 5px 0;}
// .trip_list .list-item{ border-radius: 10px;}