.header-bg {
    --background:var(--ion-color-success-tint); 
    background: #54b61e;
}

.toggle-text {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 1px;
}

.black {
color: rgb(119, 94, 94);
text-align: left !important;
}

.white {
color: #fff;
text-align: right !important;
}

ion-toggle{
    zoom: 0.5;
    // width:40px;
}

.custom {
    --background-checked: darkgreen;
    --handle-background-checked: white;
    zoom: 1;
  }
.header-bg ion-row{ align-items: center;}


.header .bar-buttons {
    --color: white!important;
}

.scroll-content {
    --margin-top: 0 !important;
    --margin-bottom: 0 !important;
}
.map-heading{
    top:0;width: 100%;
    height: 150px;
    background-color: white;
}

.map-heading img {
    width: 45px;
    height: 45px;
    border-radius: 10px;
    margin:14px;
    // margin-left: auto;
    // margin-right:auto;
    // padding:0;
    // margin:auto;
}

.map-heading p {
    font-size:0.7rem;
    color: gray;
    margin:16px 0 0 0;
    font-weight: 300;
    display: block;
}

.map-heading h5 {
    font-size:0.6rem;
    color: gray;
    font-weight: 300;
}

.map-heading h6 {
    font-size:0.8rem;
    font-weight: 750;
    color:black;
    margin-top:2px;
    margin-bottom: 0;
    display: inline-block;
    // margin-bottom:0;
    // display: block;
    // letter-spacing: 1.2rem;
}
.menu-items ion-row{    
    padding: 8px;
    padding-top: 3px;
}
.menu-items ion-col{
    width:50%;
    flex-basis: inherit;
    padding: 6px 4px 4px 6px;
}
.menu-items .manu_box{
     background: #fff;
    -webkit-box-shadow: 0 3px 8px -1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 8px -1px rgba(0, 0, 0, 0.1);
    padding: 25px 7px 25px 7px;
}
.menu-items .manu_box h4{
    font-size: 15px;
    font-weight: 600;
    margin: 0;
    padding-top: 15px;
}
.menu-items .manu_box h2 {
    color: #54b61e;
    margin: 0;
    font-weight: 600;
    font-size: 18px;
    padding-bottom: 4px;
}
.menu-items .manu_box ion-icon{
    height:22px;
    width: 22px;
}
.map-heading .profile_box ion-row{ width: 100%; flex-wrap: nowrap;}
ion-avatar img{ margin-left: 0 !important;}
.map-heading .profile_box .profile{ display: flex;}
.profile_inner{ width: 100%;}
.map-heading .profile_box .profile h2{
    font-size: 16px;
    display: flex;
    width: 100%;
}
.map-heading .profile_box .profile h2 .end{ margin-left: auto; font-size: 12px; margin-bottom: 2px;}
.map-heading .profile_box .profile p{ display: flex; margin:0;}
.map-heading .profile_box .profile p small{ margin: 0 5px; font-size: 13px;font-weight: 600;}
.map-heading .profile_box .profile p ion-icon.active{color: #54b61e;}
.car-detail{ padding: 0px 20px;}
.car-detail p {
    font-size: 13px;
    font-weight: 500;
    color: #8d8d8d;
}
.car-detail h2{
     font-weight: 500;
    font-size: 16px;
    padding-bottom: 3px;
    margin: 0; 
}


