<ion-header>
  <ion-toolbar class="header-bg" no-lines>
    <ion-row>
      <ion-col size="4" class="toggle-text white" text-center>Offline</ion-col>
      <ion-col size="4" text-center>
          <ion-toggle  checked="false" class="custom"></ion-toggle>
      </ion-col>
      <ion-col size="4" class="toggle-text black" text-center>Online</ion-col>
    </ion-row>     
  </ion-toolbar>
</ion-header>

<ion-content class="bg-light">
  <ion-list lines="none" class="map-heading">
      <ion-item  class="profile_box">
        <ion-row>
          <ion-col class="profile">
              <ion-avatar item-start class="avtar_img">
                  <img src="assets/imgs/2.png">
              </ion-avatar>
              <div class="profile_inner">
            <h2>George Smith
                <span class="end text-theme" routerLink="/myprofile" routerDirection="forward">View Profile</span>
            </h2>
              <p>
                  <small>4.7</small>
                  <span class="rateing  d-flex">
                      <ion-icon class="active" name="ios-star"></ion-icon>
                      <ion-icon class="active" name="ios-star"></ion-icon>
                      <ion-icon class="active" name="ios-star"></ion-icon>
                      <ion-icon class="active" name="ios-star"></ion-icon>
                      <ion-icon class="" name="ios-star"></ion-icon>
                  </span>
              </p>
            </div>
          </ion-col>
        </ion-row>
      </ion-item>
      <div class="car-detail">
          <p class="text-">Hyundai WagonR</p>
          <h2 class="text-dark"><strong>DL ZA 5887</strong></h2>
      </div>
  </ion-list>
  <div class="menu-items">
      <ion-row>
          <ion-col col-6 routerLink="/mytrip" routerDirection="forward" >
              <div class="manu_box" text-center >
                  <ion-icon name="md-car" style="color:#54b61e;"></ion-icon>
                  <h4>My Trips</h4>
              </div>
          </ion-col>
          <ion-col col-6  routerLink="/wallet" routerDirection="forward">
              <div class="manu_box" text-center >
                  <h2>$ 150.50</h2>
                  <h4>Wallet</h4>
              </div>
          </ion-col>
          <ion-col col-6 routerLink="/help" routerDirection="forward">
              <div class="manu_box" text-center >
                <ion-icon name="md-help" style="color:#54b61e;"></ion-icon>
                  <h4>Help</h4>
              </div>
          </ion-col>
          <ion-col col-6 routerLink="/document" routerDirection="forward">
              <div class="manu_box" text-center >
                <ion-icon name="md-list-box" style="color:#54b61e;"></ion-icon>
                  <h4>Documents</h4>
              </div>
          </ion-col>
          <ion-col col-6>
              <div class="manu_box" text-center>
                <ion-icon name="md-share" style="color:#54b61e;"></ion-icon>
                  <h4>Share</h4>
              </div>
          </ion-col>
          <ion-col col-6 routerLink="/terms-condition" routerDirection="forward">
              <div class="manu_box" text-center >
                <ion-icon name="md-clipboard" style="color:#54b61e;"></ion-icon>
                  <h4>t&c</h4>
              </div>
          </ion-col>
      </ion-row>
  </div>
</ion-content>

<ion-footer>

  <ion-toolbar>
    <ion-row>
      <ion-col text-center style="color:#808080" size="3" routerLink="/home" routerDirection="forward">
        <ion-icon name="md-car"></ion-icon>
          <p no-margin>Home</p>
      </ion-col>
      <ion-col text-center size="3">
          <ion-icon name="md-star"></ion-icon>
          <p no-margin>Rating</p>
      </ion-col>
      <ion-col text-center size="3">
          <ion-icon name="md-wallet"></ion-icon>
          <p no-margin>Earning</p>
      </ion-col>
      <ion-col text-center size="3" routerLink="/profile" routerDirection="forward">
          <ion-icon name="md-person"></ion-icon>
          <p no-margin>Profile</p>
      </ion-col>
    </ion-row>
  </ion-toolbar>
  </ion-footer>
