
ion-toggle{
    zoom: 0.6;
    // width:40px;
    // height:12px;
}

.header-bg {
    --background:var(--ion-color-success-tint); 
    background: #54b61e;
}

.toggle-text {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 1px;
}

.black {
color: rgb(119, 94, 94);
text-align: left !important;
}

.white {
color: #fff;
text-align: right !important;
}

ion-toggle{
    zoom: 0.5;
    // width:40px;
}

.custom {
    --background-checked: darkgreen;
    --handle-background-checked: white;
    zoom: 1;
  }
.header-bg ion-row{ align-items: center;}


.header .bar-buttons {
    --color: white!important;
}

.scroll-content {
    --margin-top: 0 !important;
    --margin-bottom: 0 !important;
}

.map {
    --position: absolute;
    --top: 0;
    --left: 0;
    --bottom: 0;
    --width: 100%;
    --height: 100%;

    img {
        --position: absolute;
        --top: 0;
        --left: 0;
        --bottom: 0;
        --width: 100%;
        --height: 100%;
    }

}

.driver_img {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    margin-right:5px;
}

.card-text-header {
    font-size: 16px;
    font-weight: 500;
    margin:12px 0 12px 0;
}

.text-light {
    display: block;
    color:var(--ion-color-medium-shade); 
    font-weight: 550;
    text-transform: capitalize;
    letter-spacing: .5px;
    font-size:11px;
    --ion-font-family: 'Montserrat', sans-serif;
}

.text-black {
    color:black;
    // --font-weight: 1000;
    letter-spacing: .8px;
    // --ion-font-family: 'Montserrat', sans-serif;
}

.text-green {
    color:var(--ion-color-success-tint);
}

.card-icon {
    font-size: 1.4em;
    // margin-top: 10px;
    margin-right: 5px;
    // margin: 15px 5px 0 0;
}


.rating {
    color:var(--ion-color-success-tint);
}

.contact_driver_btn {
    text-transform: uppercase;
    letter-spacing: .6px;
    // background-color:#54b61e;
    --background:var(--ion-color-success-tint);
    box-shadow: 0px 14px 25px rgba(166, 214, 141, 0.6) !important;

    &:hover:not(.disable-hover) {
    --background:var(--ion-color-success-shade);    }
}

.footer {
    width:100%;
    // height: 580px;
    transition: all 5s;
    // background-color: transparent !important;
   
    .icon_box {
        padding: 10px 0;


        ion-icon {
            display: block;
            margin: auto;
            &.down_icon {
            display: none;
            margin: auto;
            }
        }

    }

    &.active {
        height: auto;
        transition: all 5s;
        background: none;
        .icon_box {
            ion-icon {
                &.down_icon {
                    display: block;
                }

                &.up_icon {
                    display: none;
                }
            }

        }

    }
}

.card-box {
 
    .card {

        position: absolute;
        --border-radius: 10px 10px 0 0 !important;
        --box-shadow: none;
        --width: calc(100% - 32px);
        --margin: 0 auto;
        --margin-bottom: 10px;


        .card-header {
            --padding: 10px 20px 6px 20px;
            --background: white;

            h4 {
                font-weight: 600;
                font-size: 1.2rem;
            }
        }

        ion-card-content {
            --padding: 0;
            --margin-bottom: 5px;
            --background: white;

            .list {
                --margin-bottom: 0;

                .item {
                    --padding: 12px 20px 0px 20px;

                    ion-avatar {
                        --width: 45px !important;
                        --height: 45px !important;
                        --position: relative;
                        --overflow: hidden;
                        --border-radius: 5px;

                        &[item-start] {
                            --margin: 0;
                            --margin-right: 14px;
                        }

                        img {
                            --position: absolute;
                            --width: 100%;
                            --height: 100%;
                            --top: 0;
                            --left: -50% !important;
                            --right: -50% !important;
                            --bottom: 0;
                            --margin: auto;
                            --border-radius: 0;
                        }
                    }

                    .item-inner {
                        --padding: 0;

                        .label {
                            --margin: 0;

                            h2 {
                                font-size: 1.4rem;
                                font-weight: 600;
                                --padding-bottom: 4px;
                            }

                            p {
                                font-size: 1.1rem;
                                font-weight: 500;
                                --color: gray;

                                .rateing {
                                    --padding---left: 4px;

                                    ion-icon {
                                        font-size: 1.5rem !important;
                                        --color: gray;

                                        &.active {
                                            --color: lightgreen;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .car_details {
                --padding-bottom: 10px !important;
                --padding-top: 10px !important;

                small {
                    display: block;
                    --width: 100%;
                    --color:gray;
                    font-weight: 500;
                    font-size: 1.1rem;
                }

                strong {
                    display: block;
                    --width: 100%;
                    --color: gray;
                    font-size: 1.5rem;
                    --padding-top: 3px;
                }
            }

            &.trip_info {
                h2 {
                    font-weight: 600;
                    font-size: 1.2rem;
                    --padding: 20px;
                    --padding-bottom: 10px;
                }

                .list {
                    &.form {
                        --position: relative;
                        --overflow: hidden;

                        .item {
                            --padding: 10px 20px 0px 20px;
                            --align-items: flex-start;
                            --position: relative;
                            --border-bottom: none !important;

                            &::before,
                            &::after {
                                content: '';
                                --position: absolute;
                                --top: 0;
                                --left: 31px;
                                --background: gray;
                                --width: 1px;
                                --height: 50%;
                                --display: block;
                                --margin: auto;
                            }

                            &::after {
                                --bottom: 0;
                                --top: unset;
                            }

                            &:first-child {
                                &::before {
                                    display: none;
                                }
                            }

                            &:last-child {
                                &::after {
                                    display: none;
                                }
                            }

                            ion-icon {
                                &[item-start] {
                                    font-size: 1.8rem;
                                    --position: relative;
                                    --top: 3px;
                                    z-index: 99;
                                    --margin: 0;
                                    --margin-right: 10px;
                                }
                            }

                            &.from {
                                ion-icon {
                                    &[item-start] {
                                        --color: lightgreen
                                    }
                                }
                            }

                            &.to {
                                ion-icon {
                                    &[item-start] {
                                        --color: yellow;
                                    }
                                }
                            }

                            .item-inner {
                                --align-items: center;
                                --margin: 0;

                                .label {
                                    --margin-right: 10px;
                                }

                                p {
                                    font-size: 1.2rem;
                                    --padding-bottom: 0px;

                                    span {
                                        --min-width: 34px;
                                        --margin-right: 10px;
                                        font-size: 1.15rem;
                                        --color: gray;
                                        --display: block;
                                        --padding---bottom: 4px;
                                    }
                                }
                            }

                        }
                    }
                }
            }

            &.payment {
                --margin-bottom: 0;

                .row {
                    --align-items: center;

                    .col[col-8] {
                        small {
                            --color: gray;
                        }
                    }
                }
            }
        }
    }

}


.txt-green {
    --color: #54b61e !important;   
    --padding: 0;
    font-size: 1em;        
}

.text-gray {
    --color: lightgray !important;   
}
.driver_list{ width: 100%;}
.driver_list .driver_details{ display: flex; padding-bottom: 10px; border-bottom: 1px solid #ddd;}
.driver_list .driver_details .driver_img{ margin-right: 10px; max-width: 40px;}
.driver_list .driver_details .driver_img img{border-radius: 6px;}
.driver_list .driver_details .text_box{ width: 100%; display: flex;}
.driver_list .driver_details .text_box p{ width: 50%; margin: 0; font-size: 11px; color: #000; font-weight: 600;}
.driver_list .driver_details .text_box p span{ display: block; color: #999; margin-top: 8px;}
.driver_list .driver_details .text_box p:last-child{ text-align: right;}
.driver_list .from_to{ padding: 5px 0px;}
.driver_list .from_to .box{ margin: 10px 0; position: relative; padding-left: 18px;}
.driver_list .from_to .box p{ margin: 0; font-size: 11px; color: #666;}
.driver_list .from_to .box:before{ content: ""; z-index: 2; width: 8px; height: 8px; border-radius: 50%; position: absolute; left: 0; top:2px;}
.driver_list .from_to .box.from:before{ background: #ffca28;}
.driver_list .from_to .box.to:before{ background: #54b61e;}
.driver_list .from_to .box.to:after{ content: ""; width: 2px; height: 20px; background: #ccc;position: absolute; left: 3px; top: -15px; z-index: 1;}
.trip_lists{padding: 5px; background: #e0dfdf;}
.trip_lists .in-list{border-radius: 4px; background: #fff; padding-top: 0px;  margin: 5px 0;}


.footer-bg {
    background-color: transparent !important;
    position: absolute;
    bottom: 0;
}



.item {
    padding: 0;
    background: none;
    width: 260px;
    margin: 0 auto;

    p {
        margin: 0 !important;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.5rem;
        letter-spacing: 1px;
        width: 100px;

        &.active {
            color: white;
        }

        &.disabled {
            color: gray;
        }
    }
}