<ion-header>
    <ion-toolbar class="header-bg" no-lines>
			<!-- <ion-row>
				<ion-col size="2" (click)="menutoggle();"><ion-icon style="color: #fff; width:25px;height:25px;" name="menu"></ion-icon></ion-col>
				<ion-col size="4" class="toggle-text white" text-center>Offline</ion-col>
				<ion-col size="2" text-center>
						<ion-toggle [(ngModel)]="checked" checked="false" class="custom"></ion-toggle>
				</ion-col>
				<ion-col size="4" class="toggle-text black" text-center>Online</ion-col>
			</ion-row> -->
			<ion-buttons slot="start">
				<ion-menu-button (click)="menutoggle();" (click)="driverSummery()" style="color: #fff; width:25px;height:25px;margin: 0 0 10px 6px;"></ion-menu-button>
			</ion-buttons>
			<ion-row class="toggle-text black online">
				<!-- <ion-col size="2" (click)="menutoggle();"><ion-icon style="color: #fff; width:25px;height:25px;" name="menu"></ion-icon></ion-col> -->
				<ion-col size="5" class="toggle-text white offline" text-center>Offline</ion-col>
						<ion-toggle [(ngModel)]="checked" checked="false" class="custom"></ion-toggle>
				<ion-col size="5" class="toggle-text black online" text-center>Online</ion-col>
			</ion-row> 
		
    </ion-toolbar>
</ion-header>

<ion-content>
      <div class="map">
        <img src="../../assets/imgs/map2.png">
	  </div>
			
			
  </ion-content>
  
  
<ion-footer>
		<div class="footer-bg" [ngClass]="viewType == 'active' ? 'footer active':'footer'">
				<ion-card  *ngIf="!checked" class="text-black">                    
						<ion-card-content style="background-color:white; margin-bottom:0;">
							<h2 class="card-text-header">Today's summery</h2>
							<ion-row no-padding class="car_details">
								<ion-col size="6">
										<small class="text-light">Total Tips Today</small>
										<strong class="text-green"> <ion-icon class="card-icon" name="md-car"></ion-icon>{{ total_trips }}</strong>
								</ion-col>
								<ion-col size="6">
										<small class="text-light">Today's Earning</small>
										<strong class="text-green"> <ion-icon class="card-icon" name="md-wallet"></ion-icon>{{ total_payout }}</strong>
								</ion-col>
							</ion-row>
						</ion-card-content>					
				</ion-card>
					
				<div class="card-box">
					<ion-card *ngIf="checked" class="text-black">
						<ion-card-content style="background-color:white;margin-bottom:10px;">
							<ion-row no-padding>
									<ion-col no-padding size="6">
													<small float-left style="display: block"  class="text-black">Passenger Info</small>
									</ion-col>
									<ion-col size="6">
													<small float-right style="display: block"  class="text-green">Decline</small>
									</ion-col>
							</ion-row>  
							<ion-list no-lines>
								<ion-item no-padding no-line>			
													<img class="driver_img" src="assets/imgs/2.png">
									<h3 class="text-black" no-textwrap>
													<b>Sam Smith</b>
											<br>
											<p class="text-black" style="display:inline-block;">4.7
													<span>
															<ion-icon class="rating" name="star">star</ion-icon>
															<ion-icon class="rating" name="star">star</ion-icon>
															<ion-icon class="rating" name="star">star</ion-icon>
															<ion-icon class="rating" name="star">star</ion-icon>
															<ion-icon style="color:gray;" name="star">star</ion-icon>
													</span>
											</p>
									</h3>
								</ion-item>
							</ion-list>
							<ion-row no-padding class="car_details">
									<ion-col size="6" text-center>
											<small class="text-light">Pick up From</small>
											<strong class="text-black">Summit Avenue</strong>
									</ion-col>
									<ion-col size="6" text-center>
											<small class="text-light">How Far</small>
											<strong class="text-black">0.5 km away</strong>
									</ion-col>
							</ion-row>
							<div text-center padding-left padding-right>
							<ion-button expand="block"  text-uppercase class="contact_driver_btn"  routerLink="/accept-modal" routerDirection="forward">Accept</ion-button>
							</div>
						</ion-card-content>
					</ion-card>
				</div>
			</div>

<!-- <ion-toolbar>
	<ion-row>
		<ion-col text-center style="color:#808080" size="3">
			<ion-icon name="md-car"></ion-icon>
				<p no-margin>Home</p>
		</ion-col>
		<ion-col text-center size="3">
				<ion-icon name="md-star"></ion-icon>
				<p no-margin>Rating</p>
		</ion-col>
		<ion-col text-center size="3">
				<ion-icon name="md-wallet"></ion-icon>
				<p no-margin>Earning</p>
		</ion-col>
		<ion-col text-center size="3" routerLink="/profile" routerDirection="forward">
				<ion-icon name="md-person"></ion-icon>
				<p no-margin>Profile</p>
		</ion-col>
	</ion-row>
</ion-toolbar> -->
</ion-footer>

